<div class="content-container form-container login-container">
	
	<form class="form-horizontal" #form="ngForm" (submit)="submitArticle(form)">

		<fieldset>
			<legend>Create Article</legend>

			<div class="form-group">
				<label>Title</label>
				<input type="text" class="form-control" name="title" placeholder="title" ngModel>
			</div>

			<div class="form-group">
				<label>Subtitle</label>
				<input type="text" class="form-control" name="subtitle" placeholder="subtitle" ngModel>
			</div>

			<div class="form-group">
				<label>URL</label>
				<input type="text" class="form-control" name="url" placeholder="url" ngModel>
			</div>

			<div class="form-group">
                <tag-input
                    [theme]="'bootstrap'"
                    class="form-control"
                    name="tags" ngModel>
                </tag-input>

			</div>

			<button type="button" class="btn btn-info" (click)="previewArticle(form)">Preview</button>
			
			<button type="submit" class="btn btn-success">Create</button>

		</fieldset>

	</form>
</div>

<div *ngIf="article"  class="article-preview">
	<p>Preview</p>

	<app-article [article]="article"></app-article>
</div>



