<div class="content-container form-container signup-container">
    <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
        <fieldset>
            
            <legend>Signup</legend>
            
            <div class="form-row">
                <div class="form-group col">
                    <label for="firstNameField">First Name</label>
                    <input id="firstNameField"
                    placeholder="First name"
                    type="text"
                    class="form-control"
                    [formControl]="firstName"
                    [ngClass]="{
                    'is-valid': firstName.valid && (firstName.dirty || firstName.touched),
                    'is-invalid': firstName.invalid && (firstName.dirty || firstName.touched)
                    }">
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback"
                        *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                        <small class="form-error" *ngIf="firstName.errors.required">First name is required</small>
                    </div>
                </div>
                
                <div class="form-group col">
                    
                    <label for="lastNameField">Last Name</label>
                    <input id="lastNameField"
                    placeholder="Last name"
                    type="text"
                    class="form-control"
                    [formControl]="lastName"
                    [ngClass]="{
                    'is-valid': lastName.valid && (lastName.dirty || lastName.touched),
                    'is-invalid': lastName.invalid && (lastName.dirty || lastName.touched)
                    }">
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback"
                        *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                        <small class="form-error" *ngIf="lastName.errors.required">Last name is required</small>
                    </div>
                    
                </div>
            </div>

            <hr>

            <div class="form-row form-group">
                <label for="emailField">Email</label>
                <input id="emailField"
                placeholder="Email address"
                type="text"
                class="form-control"
                [formControl]="email"
                [ngClass]="{
                'is-valid': email.valid && (email.dirty || email.touched),
                'is-invalid': email.invalid && (email.dirty || email.touched)
                }">
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"
                    *ngIf="email.invalid && (email.dirty || email.touched)">
                    
                    <small class="form-error"
                    *ngIf="email.errors.required">
                    Email address is required</small>
                    <small class="form-error"
                    *ngIf="email.errors.pattern">
                    Invalid email address</small>
                </div>
            </div>
            
            <div class="form-row form-group">
                    
                    <label for="usernameField">Username</label>
                    <input id="usernameField"
                    placeholder="Username"
                    type="text"
                    class="form-control"
                    [formControl]="username"
                    [ngClass]="{
                    'is-valid': username.valid && (username.dirty || username.touched),
                    'is-invalid': username.invalid && (username.dirty || username.touched)
                    }">
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback"
                        *ngIf="username.invalid && (username.dirty || username.touched)">
                        <small class="form-error" *ngIf="username.errors.required">Username is required</small>
                    </div>
                    
                </div>

            
            <div class="form-row">
                <div class="form-group col">
                    <label for="passwordField">Password</label>
                    <input id="passwordField"
                    placeholder="Password"
                    type="password"
                    class="form-control"
                    [formControl]="password"
                    [ngClass]="{
                    'is-valid': password.valid && (password.dirty || password.touched),
                    'is-invalid': password.invalid && (password.dirty || password.touched)
                    }">
                    <div class="valid-feedback"></div>
                    
                    <div class="invalid-feedback"
                        *ngIf="password.invalid && (password.dirty || password.touched)">
                        
                        <small class="form-error"
                        *ngIf="password.errors.required">
                        First name is required</small>
                        <small class="form-error"
                        *ngIf="password.errors.pattern">
                        10 to 32 characters, at least one uppercase letter, one lowercase letter, one number and one special character</small>
                    </div>
                </div>
                
                <div class="form-group col">
                    <label for="passwordConfirmationField">Confirm</label>
                    <input id="passwordConfirmationField"
                    placeholder="Confirm password"
                    type="password"
                    class="form-control"
                    [formControl]="passwordConfirmation"
                    [ngClass]="{
                    'is-valid': passwordConfirmation.valid && (passwordConfirmation.dirty || passwordConfirmation.touched),
                    'is-invalid': passwordConfirmation.invalid && (passwordConfirmation.dirty || passwordConfirmation.touched)
                    }">
                    <div class="valid-feedback"></div>
                    
                    <div class="invalid-feedback"
                        *ngIf="passwordConfirmation.invalid && (passwordConfirmation.dirty || passwordConfirmation.touched)">
                        <small class="form-error"
                        *ngIf="passwordConfirmation.errors.required">
                        Confirmation is required</small>
                        <small class="form-error"
                        *ngIf="passwordConfirmation.errors.matchPassword">
                        Passwords must match</small>
                    </div>
                    
                </div>
            </div>

            <button
            type="submit"
            class="btn btn-danger"
            [disabled]="!form.valid">Signup</button>
        </fieldset>
    </form>
    <hr class="or-divider">
    
    <a class="btn btn-success" [routerLink]="['/', 'auth', 'login']">Login</a>
</div>