// $color-code-background: #f6f8fa;


.article-container {

  padding: 0 10%;

  .article-content {

    padding: 24px;

    pre {
      padding: 16px;
      background: #f6f8fa;
    }
  }
}




@media only screen and (max-width: 420px) {

  .article-container {

    padding: 0 0;

    .article-content {

      padding: 12px;
    
      pre {
        padding: 8px;
        background: #f6f8fa;
      }
    }
  }
}

.article-header{
  color: #000000; background: #f7f7ef; margin-bottom: 2px; 
}
.article-subitems{
  color: #828282; background: #f7f7ef; margin-left: 18px;
}
.article-tags{
  color: #FFF; background: #007bff; margin-right: 6px; padding-right:4px;padding-left:4px;
}
.background {
background: #dddddd;}
.locallink {
COLOR: #dddddd; FONT-FAMILY: geneva, arial, helvetica, lucida-sans, sans-serif; FONT-SIZE: 13px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.localsublink {
COLOR: #dddddd; FONT-FAMILY: geneva, arial, helvetica, lucida-sans, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.tm {
COLOR: #000000; FONT-FAMILY: geneva, arial, helvetica, lucida-sans, sans-serif; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-VARIANT: normal
}
