<section>
  <div class="jumbotron text-center" style="background-image: url('assets/img/articles_banner.jpg');background-size:cover;">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <!--img alt="" class="img-responsive text-center" src="assets/img/journal.jpg" style="height:100px;width:100px;"/-->
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead" style="color:#FFFFFF;">
        A Markdown to HTML Article Conversion Web Application
      </p>
    </div>
    <div class="row">
<!-- open a modal window by clicking button-->


<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#bootstrapModel">Learn More</button>
<!-- Modal section -->
<div id="bootstrapModel" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4>Learn More About DevPub</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
<!-- model body section -->
      <div class="modal-body">
        <p style="text-align: left;">DevPub is a web application that converts markdown files into readable HTML articles. Its intended use is to allow developers to write articles quickly and effectively in Markdown using Version Control or uploading options of their choice. Then our platform allows the user to present these articles in a aesthetic and readable way. You just put your Markdown file URL in our appliaction and it converts it to readable HTML </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


      </div>


    </div>


  </div>


</div>
    </div>
  </div>
  <div class="homepage-container">
  <div>
    <h2>DevPub: Write in Markdown — Read in HTML</h2>
    <p>DevPub is a web application that converts Markdown from other URLS to HTML articles</p>
    <p>Key Features of DevPub Are:</p>
    <ul>
      <li>
        Markdown to HTML Conversions
      </li>
      <li>
        Search through articles and learn about topics
      </li>
      <li>
        Edit your user and articles
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2><strong>C</strong>reate</h2>
      <p>Create any article to suit your needs and spread your ideas. Give yourself a diverse toolkit for documentation by utilizing the Markdown format.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>S</strong>hare</h2>
      <p>Customize your article tags to make your topics easy to find. Share your articles to showcase yourself.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>D</strong>iscover</h2>
      <p>Browse the site and find ideas to increase your knowledge and skillset. Article tags allow for finding important topics quickly, reducing overall search time.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>C</strong>ollaborate</h2>
      <p>Give your article source code to others to create complex article documentation in group settings. Collaborate with strangers, coworkers, or friends.</p>
    </div>
  </div>
  </div>
</section>
