<section>
  <div class="jumbotron text-center" style="background-image: url('assets/img/articles_banner.jpg');background-size:cover;">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <!--img alt="" class="img-responsive text-center" src="assets/img/journal.jpg" style="height:100px;width:100px;"/-->
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead" style="color:#FFFFFF;">
        A Markdown to HTML Article Conversion Web Application
      </p>
    </div>
    <div class="row">
<!-- open a modal window by clicking button-->


<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#bootstrapModel">Learn More</button>
<!-- Modal section -->
<div id="bootstrapModel" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4>Learn More About DevPub</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
<!-- model body section -->
      <div class="modal-body">
        <p style="text-align: left;">DevPub is a web application that converts markdown files into readable HTML articles. Its intended use is to allow developers to write articles quickly and effectively in Markdown using Version Control or uploading options of their choice. Then our platform allows the user to present these articles in a aesthetic and readable way. You just put your Markdown file URL in our appliaction and it converts it to readable HTML </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


      </div>


    </div>


  </div>


</div>
    </div>
  </div>
  <div>
    <h2>DevPub: Write in Markdown — Read in HTML</h2>
    <p>DevPub is a web application that converts Markdown from other URLS to HTML articles</p>
    <p>Key Features of DevPub Are:</p>
    <ul>
      <li>
        Markdown to HTML Conversions
      </li>
      <li>
        Search through articles and learn about topics
      </li>
      <li>
        Edit your user and articles
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2><strong>M</strong>ongoDB</h2>
      <p><a target="_blank" href="http://mongodb.org/">MongoDB</a> is a NoSQL database. MongoDB's <a target="_blank" href="http://docs.mongodb.org/manual/">great manual</a> is the place to get started with NoSQL and MongoDB.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>E</strong>xpress</h2>
      <p><a target="_blank" href="http://expressjs.com/"> Express</a> is a NodeJS server-side application web framework. Check out <a target="_blank" href="http://expressjs.com/4x/api.html">The ExpressJS API reference for more information</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>A</strong>ngularJS</h2>
      <p><a target="_blank" href="http://angularjs.org/">AngularJS</a> is client-side web application framework. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>N</strong>ode.js</h2>
      <p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a JavaScript run-time, popular for being a web server platform. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>
    </div>
  </div>
  <div class="well">
    <h2>MEAN.JS Documentation</h2>

      Once you're familiar with the foundation technology, check out the MEAN.JS Documentation:
      <ul>
        <li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>
        </li>
        <!-- <li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
				</li> -->
        <li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
        </li>
        <li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
        </li>
      </ul>

  </div>
  <br>Enjoy &amp; Keep Us Updated,
  <br>The MEAN.JS Team.
</section>
