$color-nav-border: #e7e7e7;


#navigation {
  flex: 1 0 auto;
  margin: 0;
  border-bottom: 1px solid $color-nav-border;
}

#navigation .brand {
  vertical-align: center;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  margin: 0px;
}

#navigation .brand-logo {
  height: 48px;
  width: 48px;
  // height: 100%;
  // width: auto;
}

#navigation .brand-name {
  height: 100%;
  width: auto;
  display: inline-block;
}

.navbar-collapse {
  // border-top: 1px solid $color-nav-border;
}
