

<div class="articleListPage">

	<div class="article-list" *ngFor="let article of articleList.articles; let i = index" [attr.data-index]="i"
	(click)="onArticleClick(article)" style="cursor: hand;cursor: pointer;">

	<div class="article-list-container">

		<div class="article-text">
			{{i+1}}.
			{{article.title}}
			<span class="edit-button"><a *ngIf="user?.id == article?.user?.id" 
			(click)="onEditArticleClick($event, article)"
			>edit</a></span>
			<div class="article-subitems" >
			{{article.subtitle}} by
			{{article.user.displayName}} on {{article.created | date:'longDate'}}
			<span class="article-tags" *ngFor="let tags of article['tags']"> {{tags}}</span>
			</div>


		</div>

	</div>
<!-- 	<div class="pagination">
		<ngb-pagination [collectionSize]="articleList.articleCount" [(page)]="articleList.page" [maxSize]="articleList.pageCount" [rotate]="true" [boundaryLinks]="true" (pageChange)="onPageChange($event)">
		</ngb-pagination>

	</div>
 -->
</div>